.container {
    padding-top: 60px;
}

.linha {
    margin-bottom: 20px;
}

#resultado {
    color: white;
    background-color: cadetblue;
    font-size: 5em;
    /* display: none; */
    justify-content: center;
}